<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="modules/roboto-fontface/css/roboto/roboto-fontface.css">
	<link href="modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="modules/font-awesome/css/font-awesome.css">
	<link href="css/style.css" rel="stylesheet">
	<title>Accounts</title>
	<script type="text/javascript" src="modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="modules/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="modules/angular/angular.js"></script>
	<script type="text/javascript" src="ngjs/accounts.js"></script>

</head>

<body ng-app="myApp" style="background-color:#f2f2f2;">
	<div class="row" ng-controller="accounts">
		<div class="message" ng-show="messages.length > 0">
			<div ng-repeat="message in messages">{{message}}</div>
		</div>
		<div class="error" ng-show="errors.length > 0">
			<div ng-repeat="error in errors">{{error}}</div>
		</div>
		<div class="container">
			<div ng-hide="screen == 'signup'" id="loginbox" style="margin-top:50px;margin-left: 30%;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info account-box-body" style="width: 450px;">
					<div class="panel-heading heading">
						<div class="heading-text panel-title" style="font-size: 30px!important;">Sign In</div>
					</div>
					<div class="panel-body">
						<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
						<form id="loginform" class="form-horizontal" role="form">
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon login-glyph"><i class="glyphicon glyphicon-user"></i></span>
								<input id="login-username" type="text" class="form-control account-box" ng-model="username" name="username" value="" placeholder="Username or Email">
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon login-glyph"><i class="glyphicon glyphicon-lock"></i></span>
								<input id="login-password" type="password" class="form-control account-box" ng-model="password" name="password" placeholder="Password">
							</div>
							<div class="input-group">
								<div class="checkbox" style="padding-top: 0px;">
									<label class="remember">
								  		<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
									</label>
								</div>
							</div>
							<div style="margin-top:10px" class="form-group">
								<div class="col-sm-12 controls">
									<div class="col-md-4" style="padding-left: 0px;">
										<button id="login" type="button" ng-click="signin()" class="login btn btn-success">Login</button>
									</div>
									<div class="col-md-4" style="text-align: center;padding-right: 0px;padding-left: 5px;margin-left: -10px;">
										<button id="btn-fbsignin" type="button" class="fb-login btn"><i class="fa fa-facebook" style="margin-right: 10px;"></i>Facebook</button>
									</div>
									<div class="col-md-4" style="text-align: right;padding-right: 0px;padding-left: 5px;margin-left: 10px;">
										<button id="btn-gsignin" type="button" class="google-login btn"><i class="fa fa-google" style="margin-right: 10px;"></i>Google</button>
									</div>
								</div>
							</div>
							<div class="form-group" style="margin-bottom: 0px;">
								<div class="col-md-12 control" style="border-top: 1px solid white;">
									<div style="padding-top:30px; font-size:16px;color:white;" class="col-md-7">
										Don't have an account !
									</div>
									<div class="col-md-5" style="text-align: right;padding-top:15px;padding-left: 0px;padding-right: 0px;">
										<button id="signup" type="button" class="account-change btn btn-success" ng-click="screen = 'signup'">Sign Up</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="signupbox" ng-hide="screen == 'login'" style="margin-top:50px;margin-left: 30%;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info account-box-body" style="width: 450px;">
					<div class="panel-heading heading">
						<div class="panel-title heading-text" style="font-size: 30px!important;">Sign Up</div>
					</div>
					<div class="panel-body">
						<form id="signupform" class="form-horizontal" role="form">
							<div id="signupalert" style="display:none" class="alert alert-danger">
								<p>Error:</p>
								<span></span>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="email" ng-model="email" class="form-control signup-fields-box" id="email" placeholder="Enter email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									<input type="text" ng-model="firstname" class="form-control signup-fields-box" name="firstname" placeholder="First Name">
								</div>
								<div class="col-md-6">
									<input type="text" ng-model="lastname" class="form-control signup-fields-box" name="lastname" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="password" ng-model="password" class="form-control signup-fields-box" name="passwd" placeholder="Password">
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12">
									<input type="text" ng-model="company" class="form-control signup-fields-box" name="icode" placeholder="Company Name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<input type="text" ng-model="contact" class="form-control signup-fields-box" name="icode" placeholder="Contact">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<button id="btn-signup" ng-click="signup()" type="button" class="btn btn-info signup-button"><i class="icon-hand-right"></i>Create Account</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-3">
									<hr class="style1">
								</div>
								<div class="col-md-6" style="margin-top: 10px;text-align: center;padding: 0px;">
									<span class="signup-text">or sign up with social media</span>
								</div>
								<div class="col-md-3">
									<hr class="style1">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6" style="text-align: center;">
									<button id="btn-fbsignup" type="button" class="fb-btn btn"><i class="fa fa-facebook" style="margin-right: 10px;"></i>Facebook</button>
								</div>
								<div class="col-md-6" style="text-align: center;">
									<button id="btn-gsignup" type="button" class="google-btn btn"><i class="fa fa-google" style="margin-right: 10px;"></i>Google</button>
								</div>
							</div>
							<div class="form-group" style="margin-bottom: 0px;">
								<div class="col-md-12 control" style="border-top: 1px solid white;">
									<div style="padding-top:30px; font-size:16px;color:white;" class="col-md-7">
										Already have an account !
									</div>
									<div class="col-md-5" style="text-align: center;padding-top:15px;padding-left: 0px;">
										<button id="signin" type="button" class="account-change btn btn-success" ng-click="screen = 'login'">Sign In</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
