<!DOCTYPE html>
<html lang="en">
  <head>

	  <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="modules/roboto-fontface/css/roboto/roboto-fontface.css">
  	<link href="modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  	<link rel="stylesheet" href="modules/font-awesome/css/font-awesome.css">
  	<link href="css/style.css" rel="stylesheet">
  	<title>Community</title>
  	<script type="text/javascript" src="modules/jquery/dist/jquery.js"></script>
  	<script type="text/javascript" src="modules/bootstrap/dist/js/bootstrap.js"></script>
  	<script type="text/javascript" src="modules/angular/angular.js"></script>
  	<script src="ngjs/communities.js"></script>
  </head>
  <body style="background-color:#f2f2f2;" ng-app="myApp" ng-controller="communities" class="container" ng-init="load();">

	<div>
		<div class="row community-heading">
			<div class="col-md-2 fa fa-users h1" style="text-align: right;border-right: 2px solid #3B3E43;margin-top: 12px;"></div>
			<div class="col-md-8">
				<span class="h1" ng-show="screen == 'communities'">Your Communities</span>
				<span class="h1" ng-show="screen == 'addCommunity'">Add New Community</span>
			</div>
			<div class="col-md-2"></div>
		</div>
  		<div class="row" ng-show="screen == 'communities'">
  			<div class="col-md-2"></div>
  			<div class="col-md-8" style="margin-top:50px;">
				<div class="col-md-12 message" ng-show="showMessages" ng-click="showMessages = false; messages = []">
					<div ng-repeat="message in messages">{{message}}</div>
				</div>
				<div class="col-md-12 error" ng-show="showErrors" ng-click="showErrors = false; errors = []">
					<div ng-repeat="error in errors">{{error}}</div>
				</div>
  				<div class="row" style="margin-top: 50px;">
  					<div ng-repeat="x in records" class="community-box col-md-4" style="line-height: 100px;text-align: center;">{{x.name}}</div>

  				</div>
  				<div class="row" style="margin-top: 50px;">
  					<div class="community-box col-md-4 glyphicon glyphicon-plus" style="font-size: 50px;line-height: 100px;text-align: center;" ng-click="screen = 'addCommunity'"></div>
  				</div>
  			</div>
  			<div class="col-md-2"></div>
		</div>
		<div class="row" ng-show="screen == 'addCommunity'">
  			<div class="col-md-2"></div>
  			<div class="col-md-8" style="margin-top:50px;">
				<div class="col-md-12 message" ng-show="showMessages" ng-click="showMessages = false; messages = []">
					<div ng-repeat="message in messages">{{message}}</div>
				</div>
				<div class="col-md-12 error" ng-show="showErrors" ng-click="showErrors = false; errors = []">
					<div ng-repeat="error in errors">{{error}}</div>
				</div>
  				<div class="row" style="margin-top: 50px;">
  					<div class="add-new-comm-box col-md-12" style="padding: 30px;">
  						<div class="row">
  							<div class="col-md-6" style="text-align: right;">
  								New Community Name:
  							</div>
  							<div class="col-md-6">
  								<input type="text" ng-model="community" class="form-control" name="community" id="community" placeholder="Name of the Community">
  							</div>
  						</div>
  					</div>
  				</div>
          <button class="btn btn-primary" ng-click="addCommunity()">Add Community</button>
  			</div>
  			<div class="col-md-2"></div>
		</div>
  	</div>
  </body>
</html>
