<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="modules/roboto-fontface/css/roboto/roboto-fontface.css">
	<link href="modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="modules/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="modules/animate.css/animate.css">
	<link href="css/style.css" rel="stylesheet">
	<title>Dashboard</title>
	<script type="text/javascript" src="modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="modules/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="modules/angular/angular.js"></script>
	<script type="text/javascript" src="ngjs/dashboard.js"></script>
</head>

<body style="background-color:#f2f2f2;" ng-app="myApp" ng-controller="dashboard">
    <div>
        <div class="row community-heading">
            <div class="col-md-2 fa fa-users h1" style="text-align: right;border-right: 2px solid #3B3E43;margin-top: 12px;"></div>
            <div class="col-md-8">
                <span class="h1">Home</span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-bottom: 100px;">
				<div class="col-md-12 message" ng-show="showMessages" ng-click="showMessages = false; messages = []">
					<div ng-repeat="message in messages">{{message}}</div>
				</div>
				<div class="col-md-12 error" ng-show="showErrors" ng-click="showErrors = false; errors = []">
					<div ng-repeat="error in errors">{{error}}</div>
				</div>
                <div class="row" style="margin-top: 50px;">
                    <div class="comm-dashboard-box col-md-12">
                        <div class="row">
                            <div class="col-md-3 home-left-part">
                                <div class="row home-left-part-top">
                                    <div class="col-md-12">
                                        <div class="row" style="margin-bottom: 20px;margin-top: 20px;">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-5 home-left-picture-box">
                                                <img src="/images/1.jpg" class="home-left-picture">
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: center;margin-bottom: 15px;">
                                            <div class="edit-button">Edit</div>
                                        </div>
                                        <div class="row" style="text-align: center;">
                                            <span class="home-name-title" ng-show="!editName">{{name}}</span>
											<input type="text" ng-model="name" ng-show="editName" ng-enter="updateName()" class="form-control" ng-escape="editName = false"/>
                                            <span class="glyphicon glyphicon-pencil" style="font-size: 14px;margin-left: 10px;" ng-show="!editName" ng-click="editName = true"></span>
                                        </div>
                                        <div class="row" style="margin-bottom: 20px;text-align: center;">
                                            <span class="home-name-subtitle">{{role}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row home-left-part-bottom">
                                    <div class="col-md-12">
                                        <div class="row left-tabs">
                                            <div>Messages</div>
                                        </div>
                                        <div class="row left-tabs">
                                            <div>Tasks</div>
                                        </div>
                                        <div class="row left-tabs">
                                            <div>Logout</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9" style="padding: 0px 0px 20px 40px;">
                                <div class="home-right-part-content">
                                    <div class="row" style="margin-top: 20px;display: inline-flex;margin-left: 0px;">
                                        <div class="input-group col-md-10">
                                            <span class="input-group-addon login-glyph"><i class="glyphicon glyphicon-search"></i></span>
                                            <input type="text" class="form-control search-box-text search-placeholder" ng-model="search" ng-blur="search=''" placeholder="Search">
                                        </div>
                                        <div class="col-md-2">
                                            <button id="btn-gsignup" type="button" class="search-button btn btn-success">Search</button>
                                        </div>
                                    </div>
									<div class="row searchResults" ng-show="searchResults.length > 0">
										<div class="col-md-12 resultBox">
											<div class="row" ng-repeat="result in searchResults" style="cursor: pointer;" ng-click="message(result.role_id)">
												<div class="col-md-6" style="text-align: left;">{{result.role}}</div>
												<div class="col-md-6" style="text-align: right;">{{result.name}}</div>
											</div>
										</div>
									</div>
                                    <div class="row" style="margin-top: 20px;margin-left: 0px;">
                                        <div class="col-md-12" style="padding-left: 0px;">
                                            <textarea class="form-control home-text-box" ng-model="post" row="3" cols="8" placeholder="What's on your mind?"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;margin-left: 0px;">
                                        <div class="col-md-10" style="padding-left: 0px; line-height: 50px;">
                                            <label class="radio-inline" style="float: right; margin-right: 30px;">
                                                <input type="radio" name="optradio" ng-model="visibility" value="private" style="height: 40px;">Private
                                            </label>
                                            <label class="radio-inline" style="float: right; margin-right: 30px;">
                                                <input type="radio" name="optradio" ng-model="visibility" value="public" style="height: 40px;">Public
                                            </label>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 0px;">
                                            <button id="post" type="button" ng-click="addPost()" class="post-button btn btn-success">Post</button>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-right: 20px;margin-top: 20px;margin-left: 0px;">
                                        <div class="col-md-12 right-bottom-box">
                                            <div class="row" style="margin: 0px 5px 0px 5px;">
                                                <div class="col-md-12 right-bottom-secondbox" ng-repeat="post in posts">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="row">
                                                                <div class="col-md-12 home-right-picture-box">
                                                                    <img src="{{post.photo}}" class="home-right-picture">
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-md-12" style="text-align: center;width: 80%;text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);">
                                                                    <a href="#">
                                                                        <i class="fa fa-thumbs-o-up thumb-icon animate" aria-hidden="true" ng-hide="post.like" ng-click="post.like=true; post.likes=post.likes+1"></i>
                                                                        <i class="fa fa-thumbs-up thumb-icon animate" aria-hidden="true" ng-show="post.like" ng-click="post.like=false; post.likes=post.likes-1"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12" style="text-align: center;width: 80%;color: blue;text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);">
                                                                    <span>{{post.likes}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="row post-host-name">
                                                                <div class="col-md-12" style="padding-left: 0px!important;">
                                                                    {{post.name}}
                                                                </div>
                                                            </div>
                                                            <div class="row post-text">
                                                                <div class="col-md-12" style="padding-left: 0px!important;">
                                                                    {{post.post}}
                                                                </div>
                                                            </div>
                                                            <div class="row post-timestamp">
                                                                <div class="col-md-12" style="padding-left: 0px!important;">
                                                                    {{post.timestamp}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12" style="padding-left: 0px!important;">
                                                                    <hr class="style2">
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;" ng-repeat="comment in post.comments">
                                                                <div class="col-md-2 comment-host-image-box">
                                                                    <img src="{{comment.photo}}" class="comment-host-image">
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <div class="row">
                                                                        <span class="comment-host-name">{{comment.name}}</span>
                                                                        <span class="comment-text">{{comment.text}}</span>
                                                                    </div>
                                                                    <div class="row comment-timestamp">
                                                                        <div class="col-md-12" style="padding-left: 0px!important;">
                                                                            {{comment.timestamp}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col-md-2 comment-host-image-box">
                                                                    <img src="/images/1.jpg" class="comment-host-image">
                                                                </div>
                                                                <div class="col-md-8" style="padding-left: 0px;margin-top: 5px;">
                                                                    <input type="text" class="form-control comment-box-text search-placeholder" placeholder="Write a comment...">
                                                                </div>
                                                                <div class="col-md-2" style="margin-top: 5px;">
                                                                    <button id="id2" type="button" class="comment-button btn btn-success">Comment</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 "></div>
        </div>
    </div>
</body>
</html>
