<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-input-masks/2.5.0/angular-input-masks-standalone.min.js"></script>
</head>

<body style="background-color:#f2f2f2;">
    <div>
        <div class="row community-heading">
            <div class="col-md-2 fa fa-comment h1" style="text-align: right;border-right: 2px solid #3B3E43;margin-top: 12px;"></div>
            <div class="col-md-8">
                <span class="h1">Messages</span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 message-whole-box">
                <div class="row message-head">
                    <div class="col-md-3 blank-message-box"></div>
                    <div class="col-md-9 message-head-name">
                        <div class="row message-head-title">
                            Manager
                        </div>
                        <div class="row message-head-subtitle">
                            Kalgi Bhatt
                        </div>
                    </div>
                </div>
                <div class="row message-body">
                    <div class="col-md-3 message-left-part">
                        <div class="content">
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                            <div class="row" style="background-color: #f2f2f2;padding: 10px 0px 10px 0px;">
                                <div class="col-md-3 profile-picture-box">
                                    <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                </div>
                                <div class="col-md-6 message-right-part">
                                    <div class="row">Manager</div>
                                    <div class="row" style="color: #aaa;">Kalgi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9" style="position: inherit;margin-top: 10px; padding: 0px;">
                        <div class="right-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6">
                                            <div class="row message-right-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: right;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row message-left-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: left;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6">
                                            <div class="row message-right-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: right;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row message-left-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: left;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6">
                                            <div class="row message-right-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: right;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row message-left-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: left;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6">
                                            <div class="row message-right-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: right;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2 profile-picture-box">
                                            <img src="/Users/kalgi/Desktop/281 /Project/1.jpg" class="profile-picture">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row message-left-box">
                                                Hi this is Kalgi. How are you ? I am a graduate student studying at San Jose State University.
                                            </div>
                                            <div style="color: gray;text-align: left;">10 minutes ago</div>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row message-bottom-row">
                            <div class="col-md-11 write-message-part">
                                <input type="text" class="form-control text-box message-placeholder" placeholder="Type a message">
                            </div>
                            <div class="col-md-1 fa fa-paper-plane send-button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 "></div>
        </div>
    </div>
</body>

</html>
